<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flight Delay Predict - Austin, TX</title>
</head>

<body style="background: #000">
  <div class="login">
    <h1 style="color:rgb(218, 238, 130)">Flight Delay Predict - Austin International Airport</h1>

    <!-- Action where the data is being sent-->
    <form action="{{ url_for('predict')}}" method="post">
      
      <!-- Airport dropdown -->
      <label for="airport">Select Destination Airport:</label>
      <select name="airport" id="airport">
        {% for airport in airport_list %}
          <option value="{{ loop.index0 }}">{{ airport }}</option>
        {% endfor %}
      </select><br>

      <!-- Airline dropdown -->
      <label for="airline">Select Airline:</label>
      <select name="airline" id="airline">
        {% for airline in airline_list %}
          <option value="{{ loop.index0 }}">{{ airline }}</option>
        {% endfor %}
      </select><br>

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict Flight Delay</button></p>
    </form>

    <br>
    <br>
    <h4 style="color:Violet;">
      {{  user_prompt }}</h4>
    <h4 style="color:Violet;">
      {{ prediction_text }}</h4>
    <h4 style="color:Violet;">
      {{ cancellation_text }}</h4>
  </div>
</body>





