<!doctype html>
<html>
  <head>
    <title>My Predictor</title>
  </head>
  <body>
    <h1>My Predictor</h1>
    <form method="POST" action="/">
      <label for="airport">Airport:</label>
      <select id="airport" name="airport">
        {% for airport in airport_list %}
        <option value="{{loop.index0}}">{{airport}}</option>
        {% endfor %}
      </select>

      <label for="airline">Airline:</label>
      <select id="airline" name="airline">
        {% for airline in airline_list %}
        <option value="{{loop.index0}}">{{airline}}</option>
        {% endfor %}
      </select>

      <button type="submit" name="submit">Predict</button>
    </form>

    {% if request.method == "POST" %}
      <h2>Selected:</h2>
      <p>Airport index: {{airport_index}}</p>
      <p>Airline index: {{airline_index}}</p>
    {% endif %}
  </body>
</html>





